WITH 
    -- Auxiliar table to make the relation between city and microzone
    MICROZONE_CITY as (
        SELECT  MZ.ID MICROZONE_ID,
            MZ.NAME MICROZONE,
            CA.CITY,
            MZ.CITY_ID
        FROM {{country}}_GRABILITY_PUBLIC.MICRO_ZONES_VW MZ
        LEFT JOIN {{country}}_PGLR_MS_COUNTRY_DATA_PUBLIC.CITY_ADDRESSES CA ON CA.ID = MZ.CITY_ID  
        WHERE 1=1
            AND COALESCE(FALSE,MZ._FIVETRAN_DELETED) = FALSE
            AND IS_ACTIVE = TRUE

    )
    
     , AMOUNT_OF_STORES AS (
        SELECT 
        '{{country}}' as COUNTRY,
        O.MICROZONE_ID,
        MICROZONE_NAME,
        CASE 
        WHEN TIME(O.CREATED_AT) BETWEEN '05:00:00' AND '11:00:00' THEN 'breakfast'
        WHEN TIME(O.CREATED_AT) BETWEEN '11:00:01' AND '15:00:00' THEN 'noon'
        WHEN TIME(O.CREATED_AT) BETWEEN '15:00:01' AND '18:00:00' THEN 'afternoon'
        ELSE 'night' END MOMENT,
        COUNT(DISTINCT O.STORE_ID) AMOUNT_OF_STORES,
        COUNT(DISTINCT O.BRAND_ID) AMOUNT_OF_BRANDS
        FROM GLOBAL_FINANCES.{{country}}_ORDERS O
        LEFT JOIN MICROZONE_CITY MZC ON MZC.MICROZONE_ID = O.MICROZONE_ID AND MZC.MICROZONE = O.MICROZONE_NAME 
        WHERE 1 = 1
        AND O.CREATED_AT::DATE BETWEEN DATEADD('MONTH',-9,CURRENT_DATE) AND DATEADD('MONTH',-3,CURRENT_DATE)
        AND O.ORDER_STATE NOT IN 
            ('canceled_for_payment_error', 
            'canceled_by_fraud', 
            'canceled_by_split_error',
            'canceled_by_early_regret')
        AND O.VERTICAL_GROUP = 'RESTAURANTS'
        AND O.MICROZONE_ID IS NOT NULL
        AND MZC.CITY IS NOT NULL   
        GROUP BY 1,2,3,4
    )
    
    select 
        COUNTRY,
        MOMENT,
        MEDIAN(AMOUNT_OF_STORES) MEDIAN_AMOUNT_OF_STORES_PER_MZ,
        MEDIAN(AMOUNT_OF_BRANDS) MEDIAN_AMOUNT_OF_BRANDS_PER_MZ
    from AMOUNT_OF_STORES
    group by 1,2