WITH ALL_COMBINATIONS AS (
    SELECT DISTINCT 
    APPLICATION_USER_ID AS USER_ID,
    BRAND_ID,
    MICROZONE_ID,
    CASE 
        WHEN TIME(O.CREATED_AT) BETWEEN '05:00:00' AND '11:00:00' THEN 0
        WHEN TIME(O.CREATED_AT) BETWEEN '11:00:01' AND '15:00:00' THEN 1
        WHEN TIME(O.CREATED_AT) BETWEEN '15:00:01' AND '18:00:00' THEN 2
    ELSE 3 END MOMENT
    FROM GLOBAL_FINANCES.{{COUNTRY}}_ORDERS O
    WHERE 1 = 1
        AND O.CREATED_AT::DATE BETWEEN DATEADD('MONTH',-6,CURRENT_DATE) AND CURRENT_DATE
        AND O.ORDER_STATE NOT IN 
            ('canceled_for_payment_error', 
            'canceled_by_fraud', 
            'canceled_by_split_error',
            'canceled_by_early_regret')
        AND O.VERTICAL_GROUP = 'RESTAURANTS'
        AND O.MICROZONE_ID IS NOT NULL
)

{# , BRANDS_MOMENT_MZ AS (
    
    SELECT DISTINCT
        BRAND_ID,
        MOMENT,
        MICROZONE_ID
    FROM ALL_COMBINATIONS
) #}


, USERS_MZ_MOMENT AS (
    SELECT DISTINCT
        USER_ID,
        MOMENT,
        MICROZONE_ID
    FROM ALL_COMBINATIONS
)

SELECT DISTINCT 
    USERS_MZ_MOMENT.USER_ID,
    USERS_MZ_MOMENT.MOMENT,
    USERS_MZ_MOMENT.MICROZONE_ID
    FROM USERS_MZ_MOMENT
    {# INNER JOIN BRANDS_MOMENT_MZ ON BRANDS_MOMENT_MZ.MICROZONE_ID = USERS_MZ_MOMENT.MICROZONE_ID
                                AND BRANDS_MOMENT_MZ.MOMENT = USERS_MZ_MOMENT.MOMENT #}
    ORDER BY USERS_MZ_MOMENT.USER_ID,USERS_MZ_MOMENT.MOMENT,USERS_MZ_MOMENT.MICROZONE_ID
LIMIT {{N_ROWS}}
